.comment__form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.comment__form-title {
    width: 100%;
    margin-bottom: 10px;
}
.comment__form-input {
    width: 100%;
    margin-bottom: 10px;
}
